<div class="container">
  <h1>My Book</h1>
  <% if @favorite.present? %>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Date Added</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
       <%= render @favorite %>
    </tbody>
  </table>
  <% else %>
    <div>You do not have any books</div>
  <% end %>
</div>
