<footer class="footer">
	<div class="container">
		<small>
			<span>Books Reviews © 2021 . Privacy Policy</span>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
				<li><a href="https://news.railstutorial.org/">News</a></li>
			</ul>
		</nav>
	</div>
</footer>
